body {
  background-color: #181818;
  margin: 0;
  padding: 0;
  height: 100vh;
}

h2 {
  color: white;
}

.two {
  margin: 16px;
  padding: 16px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body.three{
background-color: #F7F3D6;
}

.top-header {
  width: 100%;
  background-color: rgba(113, 77, 42, 1);
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.categories {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 70px;
  align-items: stretch;
  flex-wrap: nowrap;
  padding: 10px;
  justify-content: center;
  margin-bottom: 70px;
}

.category-card {
  background-color: white;
  border-radius: 35px;
  padding: 15px;
  width: 200px;
  height: 200px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:nth-child(1) {
  color: #59422e;
  background-color: rgba(247, 243, 214, 0.46);
}

.dropdown-content a:hover {
  opacity: 0.8;
}

.category-card a {
    text-decoration:none;
}

.category-card img {
  width: 100%;
  height: 100%;
  border-radius: 35px;
  object-fit: cover;
}

/* Адаптивные стили для экранов до 768px */
@media (max-width: 768px) {
  .top-header {
    align-items: stretch;
    padding: 10px;
  }

  .top-header a {
    font-size: 10px;
    margin: 5px 0;
  }

  .categories {
    align-items: center;
    width: 15%;
    padding: 5px;
  }
}

/* Адаптивные стили для экранов до 1000px */
@media (max-width: 1000px) {
  .top-header {
    align-items: stretch;
    padding: 10px;
  }

  .top-header a {
    font-size: 12px;
    margin: 5px 0;
  }

  .categories {
    align-items: center;
    width: 25%;
    padding: 5px;
  }
}

.main-section {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  align-items: flex-start;
}

.top-header a {
  font-family: "Alumni Sans SC-SemiBold", Helvetica;
  text-decoration: none;
  font-size: 26px;
  color: #dcc8b7;
}

.top-header a:hover {
  text-decoration: underline;
}

.main-section {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  margin: 100px auto 0;
  width: 93%;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
}

/* Фото (левая часть) */
.main-section img {
  flex: 0 1 46%;
  max-width: 100%;
  width: 56%;
  border-radius: 8px;
  margin-right: 10px;
}

.main-section video {
  flex: 0 1 46%;
  max-width: 100%;
  width: 56%;
  border-radius: 8px;
  margin-right: 10px;
}

/* Адаптивные стили для экранов до 768px */
@media (max-width: 768px) {
  .main-section img,
  .main-section video {
    width: 20%;
  }

  .top-header a {
    font-size: 12px;
  }
}

/* Адаптивные стили для экранов до 1000px */
@media (max-width: 1000px) {
  .main-section img,
  .main-section video {
    width: 40%;
  }

  .top-header a {
    font-size: 14px;
  }
}

.registration-form {
  flex: 0 1 30%;
  max-width: 50%;
  background-color: #272727;
  padding: 32px;
  margin-left: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.registration-form h2 {
  font-family: "Koulen";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 65px;
  text-align: center;
  background: linear-gradient(
    90deg,
    #775436 28.22%,
    #935a22 32.81%,
    #ce7a29 42.45%,
    #9e5712 52.32%,
    #ce7a29 56.67%,
    #8f5925 66.08%,
    #775436 74.12%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.registration-form input,
.registration-form button {
  background: rgba(177, 160, 143, 1);
  width: 100%;
  height: 50px;
  padding: 0px;
  margin-bottom: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
}

.registration-form button {
  background: linear-gradient(
    90deg,
    rgba(56, 31, 7, 0.63) 0%,
    rgba(118, 65, 14, 0.63) 21%,
    rgba(156, 86, 18, 0.63) 43%,
    rgba(157, 87, 18, 0.63) 57%,
    rgba(158, 87, 18, 0.63) 67%,
    rgba(126, 70, 15, 0.63) 82%,
    rgba(62, 34, 7, 0.63) 100%
  );
  color: white;
  border: none;
  cursor: pointer;
}

.registration-form button:hover {
  background-color: #0056b3;
}

/* Адаптивные стили для экранов до 768px */
@media (max-width: 768px) {
  .registration-form {
    flex: 0 1 100%;
    max-width: 100%;
    margin-left: 0;
    padding: 16px;
  }

  .registration-form h2 {
    font-size: 28px;
    line-height: 40px;
  }

  .registration-form input,
  .registration-form button {
    height: 45px;
    font-size: 18px;
    margin-bottom: 30px;
  }
  gp {
  }
}
/* Форма регистрации */
.registration-form1 {
  display: none;
  position: absolute;
  background-image: url("gp2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
  padding: 30px;
  top: 60%;
  right: 60px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  z-index: 100;
  width: 512px;
  height: 512px;
  text-align: left;
  animation: fadeIn 0.3s ease-in-out; /* Добавлена легкая анимация появления */
}

.registration-form1 h3 {
  font-family: "Alumni Sans SC-SemiBold", Helvetica, sans-serif;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
}

/* Стили для всех input */
.registration-form1 label {
  color: rgba(237, 234, 216, 1);
  margin-bottom: 5px;
  display: block;
  font-family: "Alumni Sans SC-SemiBold", Helvetica, sans-serif;
  font-size: 20px;
}

.registration-form1 input[type="text"],
.registration-form1 input[type="email"],
.registration-form1 input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-family: "Alumni Sans SC-SemiBold", Helvetica, sans-serif;
  font-size: 14px;
  color: #2d2d2d;
  background-color: rgba(234, 232, 226, 1);
}

.registration-form1 input[type="submit"] {
  display: block;
  background-color: #704d29;
  color: #fff;
  border: none;
  border-radius: 8px;
  width: 100%;
  padding: 12px 20px;
  font-size: 16px;
  font-family: "Alumni Sans SC-SemiBold", Helvetica, sans-serif;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.registration-form1 input[type="submit"]:hover {
  background-color: #5b3d21;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

/* Стили для кнопок */
.username-btn1 {
  background: linear-gradient(
    90deg,
    rgba(56, 31, 7, 0.8),
    rgba(118, 65, 14, 0.8)
  );
  color: #dcc8b7;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 26px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  margin: 18px 34px;
}

.username-btn1:hover {
  background: linear-gradient(
    90deg,
    rgba(118, 65, 14, 0.9),
    rgba(56, 31, 7, 0.9)
  ); /* Изменение градиента */
  transform: translateY(-2px); /* Небольшое поднятие кнопки */
}

/* Для ссылки внутри кнопки */
.username-btn1 a {
  text-decoration: none; /* Убираем подчеркивание */
  color: inherit; /* Устанавливаем цвет текста как у родителя */
}

.username-btn1 a:hover {
  text-decoration: underline; /* Подчеркивание ссылки при наведении */
}

h1 {
  color: white;
}

/* Анимация появления */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Hover-эффект */
.hover-wrapper1:hover .registration-form1,
.registration-form1:hover {
  display: block;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.category-card {
  opacity: 0;
  animation: fadeInUp 0.5s forwards;
}

.category-card:nth-child(1) { animation-delay: 4.6s; }
.category-card:nth-child(2) { animation-delay: 4.7s; }
.category-card:nth-child(3) { animation-delay: 4.8s; }
.category-card:nth-child(4) { animation-delay: 4.9s; }
.category-card:nth-child(5) { animation-delay: 5s; }

.registration-form2 {
  flex: 0 1 30%;
  max-width: 50%;
  background-color: #312415;
  padding: 32px;
  margin-left: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.registration-form2 h2 {
  font-family: "Koulen";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 65px;
  text-align: center;
  background: linear-gradient(
    90deg,
    #775436 28.22%,
    #935a22 32.81%,
    #ce7a29 42.45%,
    #9e5712 52.32%,
    #ce7a29 56.67%,
    #8f5925 66.08%,
    #775436 74.12%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.registration-form2 input,
.registration-form2 button {
  background: rgba(177, 160, 143, 1);
  width: 100%;
  height: 50px;
  padding: 0px;
  margin-bottom: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
}

.registration-form2 button {
  background: linear-gradient(
    90deg,
    rgba(56, 31, 7, 0.63) 0%,
    rgba(118, 65, 14, 0.63) 21%,
    rgba(156, 86, 18, 0.63) 43%,
    rgba(157, 87, 18, 0.63) 57%,
    rgba(158, 87, 18, 0.63) 67%,
    rgba(126, 70, 15, 0.63) 82%,
    rgba(62, 34, 7, 0.63) 100%
  );
  color: white;
  border: none;
  cursor: pointer;
}

.registration-form2 button:hover {
  background-color: #0056b3;
}

/* Адаптивные стили для экранов до 768px */
@media (max-width: 768px) {
  .registration-form {
    flex: 0 1 100%;
    max-width: 100%;
    margin-left: 0;
    padding: 16px;
  }

  .registration-form2 h2 {
    font-size: 28px;
    line-height: 40px;
  }

  .registration-form2 input,
  .registration-form2 button {
    height: 45px;
    font-size: 18px;
    margin-bottom: 30px;
  }
  gp {
  }
}