/* Устанавливаем основной фон на всю страницу */
body {
    background-color: #181818;
    margin: 0;
    padding: 0;
    height: 100vh;
}

h2 {
    color: white;
    text-decoration: none;
}

.two {

    margin: 16px;
    padding: 16px;
    height: 100vh; /* Высота в 100% от высоты экрана */
    display: flex; /* Используем flexbox для вертикального расположения */
    flex-direction: column; /* Вертикальное расположение элементов */
    align-items: center; /* Центрируем элементы по горизонтали */
}

.top-header {
    width: 100%; /* Занимаем полную ширину */
    background-color: rgba(113, 77, 42, 1); /* Непрозрачный фон для шапки */
    color: white; /* Цвет текста белый */
    padding: 10px 20px; /* Отступы */
    display: flex; /* Flexbox для расположения элементов шапки */
    justify-content: space-around; /* Распределение элементов с равными отступами */
    align-items: center; /* Центрируем вертикально */
    position: fixed; /* Фиксируем шапку */
    top: 0; /* Прикрепляем к верхней границе */
    left: 0; /* Прикрепляем к левой границе */
    z-index: 1000; /* Чтобы шапка была сверху других элементов */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень под шапкой */
}

.categories {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 70px;
    align-items: stretch;
    flex-wrap: nowrap;
    padding: 10px;
    justify-content: center;
    margin-bottom: 70px;
}

.category-card {
    background-color: white; /* Фон карточки белый */
    border-radius: 35px; /* Закругленные углы */
    padding: 15px; /* Отступы внутри карточки */
    width: 200px; /* Ширина карточки */
    height: 200px; /* Высота карточки, чтобы сделать ее квадратной */
    margin: 10px; /* Отступы между карточками */
    text-align: center; /* Центрируем текст */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Более заметная тень */
    transition: transform 0.2s; /* Плавный переход при наведении */
}

.category-card:hover {
    transform: scale(1.05); /* Увеличиваем карточку при наведении */
}

.category-card img {
    width: 100%; /* Полная ширина изображения */
    height: 100%; /* Соотношение сторон */
    border-radius: 35px; /* Закругленные углы для изображений */
    object-fit: cover; /* Чтобы сохранить соотношение сторон изображения */
}

/* Адаптивные стили для экранов до 768px */
@media (max-width: 768px) {
    .top-header {

        align-items: stretch;   /* Растянуть элементы на всю ширину */
        padding: 10px;          /* Уменьшаем внутренние отступы */
    }

    .top-header a {
        font-size: 10px; /* Уменьшаем размер шрифта на мобильных */
        margin: 5px 0; /* Отступ между ссылками */
    }

    .categories {

        align-items: center; /* Центрируем карточки по горизонтали */
        width: 15%;
        /* height: 50%; */
        padding: 5px;

    }
}

/* Адаптивные стили для экранов до 1000px */
@media (max-width: 1000px) {

    .top-header {
        align-items: stretch; /* Растянуть элементы на всю ширину */
        padding: 10px; /* Уменьшаем внутренние отступы */
    }

    .top-header a {
        font-size: 12px; /* Уменьшаем размер шрифта на экранах до 1000px */
        margin: 5px 0; /* Отступ между ссылками */
    }

    .categories {
        align-items: center; /* Центрируем карточки по горизонтали */
        width: 25%; /* Увеличиваем ширину карточек для лучшего отображения */
        padding: 5px;
    }
}

.main-section {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: flex-start;
}

.sf {
    width: 109px;
    flex: 0;
    height: 43px;
    font-family: "Rozha One-Regular", Helvetica;
    font-weight: 400;
    color: #f7f2ee;
    font-size: 40px;
    text-align: center;
    letter-spacing: 13.44px;
    line-height: normal;
    padding: 8px;
}

.top-header a {
    font-family: "Alumni Sans SC-SemiBold", Helvetica;
    text-decoration: none;
    font-size: 26px;
    color: #dcc8b7;
}

.top-header a:hover {
    text-decoration: underline;
}

.main-section {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    margin: 100px auto 0;
    width: 93%;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
}

/* Фото (левая часть) */
.main-section img {
    flex: 0 1 46%;
    max-width: 100%;
    width: 56%;
    border-radius: 8px;
    margin-right: 10px;
}

.main-section video {
    flex: 0 1 46%;
    max-width: 100%;
    width: 56%;
    border-radius: 8px;
    margin-right: 10px;
}

/* Адаптивные стили для экранов до 768px */
@media (max-width: 768px) {
    .main-section img,
    .main-section video {
        width: 20%; /* Полная ширина для изображений и видео */
}

    .top-header a {
        font-size: 12px; /* Уменьшаем размер шрифта ссылок для мобильных */
    }
}

/* Адаптивные стили для экранов до 1000px */
@media (max-width: 1000px) {

    .main-section img,
    .main-section video {
        width: 40%; /* Увеличиваем ширину для изображений и видео для лучшего отображения */
    }

    .top-header a {
        font-size: 14px; /* Увеличиваем размер шрифта ссылок для более широких экранов */
    }
}

//* Форма (правая часть) */
.registration-form {
    flex: 0 1 30%;
    max-width: 50%;
    background-color: #272727;
    padding: 32px;
    margin-left: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.registration-form h2 {
    font-family: 'Koulen';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 65px;
    text-align: center;
    background: linear-gradient(90deg, #775436 28.22%, #935A22 32.81%, #CE7A29 42.45%, #9E5712 52.32%, #CE7A29 56.67%, #8F5925 66.08%, #775436 74.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.registration-form input,
.registration-form button {
    background: rgba(177, 160, 143, 1);
    width: 100%;
    height: 50px;
    padding: 0px;
    margin-bottom: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
}

.registration-form button {
    background: linear-gradient(90deg, rgba(56, 31, 7, 0.63) 0%, rgba(118, 65, 14, 0.63) 21%, rgba(156, 86, 18, 0.63) 43%, rgba(157, 87, 18, 0.63) 57%, rgba(158, 87, 18, 0.63) 67%, rgba(126, 70, 15, 0.63) 82%, rgba(62, 34, 7, 0.63) 100%);
    color: white;
    border: none;
    cursor: pointer;
}

.registration-form button:hover {
    background-color: #0056b3;
}

/* Адаптивные стили для экранов до 768px */
@media (max-width: 768px) {
    .registration-form {
        flex: 0 1 100%; /* Полная ширина формы на мобильных */
        max-width: 100%; /* Сбрасываем максимальную ширину */
        margin-left: 0; /* Убираем левый отступ */
        padding: 16px; /* Уменьшаем внутренние отступы */
    }

    .registration-form h2 {
        font-size: 28px; /* Уменьшаем размер заголовка */
        line-height: 40px; /* Уменьшаем высоту строки заголовка */
    }

    .registration-form input,
    .registration-form button {
        height: 45px; /* Уменьшаем высоту полей ввода и кнопки */
        font-size: 18px; /* Уменьшаем размер шрифта для мобильных */
        margin-bottom: 30px; /* Уменьшаем отступ между полями */
    }
    gp{

    }
}
/* Адаптивные стили для экранов до 1000px */
@media (max-width: 1000px) {
    .registration-form {
        flex: 0 1 90%; /* Увеличиваем ширину формы до 90% для больших мобильных устройств */
        max-width: 100%; /* Сбрасываем максимальную ширину */
        margin-left: auto; /* Центрируем форму */
        margin-right: auto; /* Центрируем форму */
        padding: 16px; /* Сохраняем внутренние отступы */
    }

    .registration-form h2 {
        font-size: 30px; /* Увеличиваем размер заголовка для более крупных экранов */
        line-height: 42px; /* Увеличиваем высоту строки заголовка */
    }

    .registration-form input,
    .registration-form button {
        height: 50px; /* Увеличиваем высоту полей ввода и кнопки */
        font-size: 20px; /* Увеличиваем размер шрифта для лучшей читаемости */
        margin-bottom: 25px; /* Уменьшаем отступ между полями */
    }
}
