body {
  background-color: black;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 20px;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

body.three{
background-color: #F7F3D6;
}

.container1 {
  position: relative;
  text-align: center;
  margin-bottom: 50px;
}

.bottom-image {
  position: relative;
  bottom: 10px;
  right: 10px;
  width: 30%;
  z-index: 1;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.bottom-image:hover {
  transform: scale(1.1);
  border-radius: 138px;
  background-color: purple;
}

.layout-image {
  width: 100%;
  height: auto;
}

.overlay-images {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100%;
  top: 25%;
}

.overlay-image {
  margin: 10px;
  transition: transform 0.3s ease;
}

.overlay-image:hover {
  transform: scale(
    1.1
  );
}

.overlay-images1 {
  position: absolute;
  top: 60%;
  left: 50%;
  height: 75%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  width: auto;
  margin: 0;
}

.overlay-image1,
.overlay-image {
  margin: 0 15px;
}

.overlay-images1 .overlay-image1:nth-of-type(3) {
  height: 75%;
}

.overlay-images1 .overlay-image1:nth-of-type(1) {
  height: 75%;
  margin: 0px 100px;
}

/* Адаптивные стили */
@media (max-width: 768px) {
  body {
    margin: 10px;
  }

  .overlay-images {
    top: 20%;
  }

  .overlay-image {
    margin: 5px;
    width: 20%;
  }
  .overlay-images1 .overlay-image1:nth-of-type(1) {
    margin: 0px 10px;
  }

  .overlay-images1 {
    height: 60%;
  }
}
/* Адаптивные стили для экранов до 1000px */
@media (max-width: 1000px) {
  body {
    margin: 15px;
  }

  .overlay-images {
    top: 20%;
  }

  .overlay-image {
    margin: 10px;
    width: 30%;
  }

  .overlay-images1 .overlay-image1:nth-of-type(1) {
    margin: 0px 8px;
  }

  .overlay-images1 {
    height: 70%;
  }
}

/* Базовые стили обертки */
.top-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(113, 77, 42, 1);
  padding: 10px 0;
  width: 100%;
  position: fixed;
  top: 8px;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.file-header {
  background-color: rgba(113, 77, 42, 1);
}

.top-header a {
  font-family: "Alumni Sans SC-SemiBold", Helvetica;
  text-decoration: none;
  font-size: 26px;
  color: #dcc8b7;
}

.top-header a:hover {
  text-decoration: underline;
}

/* Стиль текстовой обертки */
a {
  font-family: "Alumni Sans SC-SemiBold", Helvetica;
  text-decoration: none;
  font-size: 26px;
  color: #dcc8b7;
}

/* Адаптивные стили */
@media (max-width: 768px) {
  .top-header {
    align-items: stretch;
    padding: 10px;
  }

  .top-header a {
    font-size: 20px;
    margin: 5px 0;
  }

  .file-header,
  .file1-header,
  .file2-header,
  .file3-header {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }
}
/* Адаптация для устройств с шириной до 1000px */
@media (max-width: 1000px) {
  .top-header {
    flex-direction: row;
    align-items: center;
  }

  .top-header a {
    font-size: 20px;
    margin: 5px 0;
  }
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:nth-child(1) {
  color: #59422e;
  background-color: rgba(247, 243, 214, 0.46);
}

.dropdown-content a:nth-child(2) {
  color: #183969;
  background-color: rgba(168, 208, 251, 0.46);
}

.dropdown-content a:nth-child(3) {
  color: #a9dd38;
  background-image: url("gp2.png");
}

.dropdown-content a:hover {
  opacity: 0.8;
}
.dropdown1 {
  position: relative;
  display: inline-block;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown1:hover .dropdown-content1 {
  display: block;
}

.dropdown-content1 a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content1 a:hover {
  opacity: 0.8;
}
h1 {
  color: white;
}

/* Анимация появления */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
